.messageList {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: var(--grey);
  // padding: 20px 20px 40px 20px;
  padding: 1.4rem 1.4rem 2.8rem 1.4rem;
  // height: calc(100% - 16%);
  // height: calc(100% - 36.5%);
  // height: 63.5vh;
  gap: 2.1rem;
  overflow-y: auto;
}
.messageItem {
  display: flex;
  gap: 0.8rem;
}
.userAvatar {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  margin-top: auto;
}
.message {
  position: relative;
  color: var(--black-dark);
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.25rem;
  padding: 1.4rem;
  max-width: 23.6rem;
  .time {
    position: absolute;
    bottom: -1.5rem;
    left: 0;
    color: var(--grey-icon);
    font-size: 0.8rem;
    font-weight: 500;
  }
  .timeCurrentUser {
    left: auto;
    right: 0;
  }
}
.currentUser {
  border-radius: 1.4rem 1.4rem 0px 1.4rem;
  background: var(--green);
  color: var(--white);
}
.companionUser {
  border-radius: 1.4rem 1.4rem 1.4rem 0px;
  background: var(--white);
}
