.container {
  background-color: var(--grey);
  padding: 1.4rem;
}
.wrapper {
  border-radius: 1.4rem;
  border: 0.01rem solid var(--grey-border);
  background: #fff;
}
.textarea {
  resize: none;
  width: 100%;
  padding: 0 1.4rem;
  margin: 1.4rem 0;
}
.bottomSection {
  display: flex;
  align-items: center;
  border-top: 0.01rem solid var(--grey-border);
  justify-content: space-between;
  padding: 0 0.6rem;
}
.list {
  display: flex;
  align-items: center;
  // gap: 0.8rem;
}
.icon {
  width: 1.4rem;
  height: 1.4rem;
  color: var(--grey-icon);
}
.item,
.button {
  transition: var(--transitions);
  cursor: pointer;
  padding: 0.8rem;
  &:hover,
  &:focus {
    .icon {
      color: var(--green);
    }
  }
}
// .button {
//   padding: 12px;
// }
.verticalLine {
  width: 0.01rem;
  height: 1.4rem;
  background: var(--grey-border);
}
