.aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  overflow-y: scroll;
  height: 100%;
  //   height: 100vh;

  padding: 2.2rem 1.8rem;
  border-right: 0.01em solid var(--grey-border);
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.avatar {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  overflow: hidden;
}
.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.2rem;
  margin-top: 3.3rem;
}
.item {
  padding: 1rem;
  border-radius: 50%;
  transition: var(--transitions);
  cursor: pointer;

  &:hover,
  &:focus {
    background: var(--green-hover);
    .icon {
      color: var(--green);
    }
  }

  .icon {
    width: 1.6rem;
    height: 1.6rem;
    color: var(--grey-icon);
  }
}
